*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
}

.nav{
background-color: #264de4;
padding: 0 100px;
color: white;
display: flex;
align-items: center;
justify-content: space-between;
height: 70px;
}

.nav__links{
    color:inherit;
    text-decoration: none;
}

.nav__logo{
    height: 100%;
}