*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: arial;
}
.container{
    padding: 70px;
    /* background-color: violet; */
    /* background-image: url(/practicas/imagenes/picachu.png); */
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    background-image: linear-gradient(#187ca3a1, #ff0000a8), url(/practicas/imagenes/picachu.png);
    
}
.title{
    font-size: 42px;
    /* color:hsl(hue ( 0 -360), saturation (0-100%), lightness (0-100%)) */
    color: hsl(210, 100%,50%, .8 );
}

/* https://developer.mozilla.org/es/docs/web/css/color_value*/
/*https://jemapau.medium.com/c%C3%B3digo-y-color-el-reto-de-trabajar-con-colores-luz-ac76f736fa3a*/
